.product_detail {
    padding: 30px;
}

.product_detail .main_content {
    display: flex;
    /* flex-flow: column; */
}

.product_detail .small_image-link {
    margin-top: 20px;
    width: 66px;
    height: 66px;
    margin-bottom: 20px;
    border: none;
}

.product_detail .small_image-link:hover {
    border: 3px solid #8d8d8d;
    z-index: 1;
}
.product_detail .small_image-img {
    width: 100%;
    object-fit: cover;
}

/* ---------- Main Image --------- */

.product_detail .main_image {
    margin-left: 32px;
    width: 620px;
    height: 620px;
    overflow: hidden;
}

.product_detail .main_image-img {
    width: 100%;
    object-fit: cover;
    transition: 0.5s all ease-in-out;
}

.product_detail .main_image-img:hover {
    transform: scale(1.3);
}

.product_detail .info_buy {
    margin-top: 32px;
    margin-left: 32px;
}

.product_detail .name {
    font-size: 30px;
    font-weight: 700;
    color: #313131;
    text-transform: uppercase;
}

.product_detail .star {
    font-size: 1.8rem;
    color: var(--color-star);
    margin-top: 6px;
}

.product_detail .id {
    margin-top: 20px;
}

.product_detail .id_left {
    text-transform: capitalize;
    font-size: 1.8rem;
    font-weight: 400;
}

.product_detail .id_right {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: bold;
    color: #5b5b5b;
}

.product_detail .price,
.product_detail .old_price {
    margin-top: 16px;
    font-size: 2.4rem;
    font-weight: bold;
    color: #fb0000;
}

.product_detail .old_price {
    color: #bcbcbc;
    text-decoration-line: line-through;
}

.product_detail .price_own {
    font-size: 2.2rem;
    margin-top: 20px;
    font-weight: 600;
    color: #222;
}

.product_detail .ui_own {
    display: none;
}
.product_detail .display_ui_own .ui_user {
    display: none;
}
.product_detail .display_ui_own .ui_own {
    display: block;
}

.product_detail .select-input {
    margin-top: 24px;
    width: 120px;
    height: 60px;
    border: 1px solid #e1e1e1;
}

.product_detail .filter_page-btn {
    display: flex;
    align-items: center;
    padding: 0 6px;
    height: 100%;
    background-color: #f5f5f5;
}

.product_detail .filter_page-btn:first-child {
    border-right: 1px solid #e1e1e1;
}

.product_detail .filter_page-btn:last-child {
    border-left: 1px solid #e1e1e1;
}
.product_detail .filter_page-btn-disabled {
    color: #b4b4b4;
}

.product_detail .count {
    font-size: 2rem;
    font-weight: 500;
    color: #000;
}

.product_detail .option-size {
    margin-top: 20px;
}

.product_detail .desc-size {
    text-transform: capitalize;
    font-size: 1.8rem;
    font-weight: 400;
}

.product_detail .size-list {
    margin-top: 8px;
    display: flex;
    width: 360px;
    flex-wrap: wrap;
}

.product_detail .size-item {
    font-size: 1.8rem;
    font-weight: 400;
    width: 70px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e1e1e1;
}

.product_detail .chose {
    background-color: #b4b4b4;
}

.product_detail .action-buy {
    display: flex;
}

.product_detail .action-btn {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 56px;
    border-radius: 999px;
    font-size: 1.6rem;
    font-weight: 600;
    background-color: var(--primary-color);
    transition: opacity 0.2s;
}

.product_detail .action-btn:last-child {
    background-color: #ed0000;
}

.product_detail .action-btn:hover {
    opacity: 0.7;
}

.product_detail .desc_detail {
    padding: 50px 150px;
}

.product_detail .reason {
    font-weight: bold;
    font-size: 1.8rem;
}

.product_detail .paragraph {
    margin: 12px 0;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
}

.product_detail .img-desc {
    width: 100%;
    display: flex;
    padding-bottom: 20px;
    justify-content: center;
    /* background-color: red; */
}

.product_detail .img-desc img {
    width: 70%;
    object-fit: cover;
}

/* --------------- Comment ---------------- */
.comment {
    padding: 0 150px;
}

#comment-box,
#post {
    border: none;
    border-radius: 5px;
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
}

.frame {
    margin-top: 12px;
    width: 70%;
    height: 100px;
    margin-bottom: 12px;
    border-radius: 4px;
    border: 1px solid rgba(22, 24, 35, 0.06);
    overflow: hidden;
}
#comment-box {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    padding: 8px;
    background: rgba(22, 24, 35, 0.06);
    border: none;
    outline: none;
    resize: none;
}

#post {
    width: 100px;
    height: 50px;
    border-radius: 4px;
    background-color: var(--primary-color);
    font-weight: 500;
    font-size: 1.6rem;
    transition: 0.2s all ease-in-out;
}

#post:hover {
    background-color: #ff8c00;
}

#unordered {
    margin-top: 20px;
    width: 70%;
}

#unordered li {
    padding: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

#unordered .user_name {
    font-weight: 700;
    font-size: 2rem;
}

#unordered .comment_content {
    margin-top: 8px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
}

#unordered .react {
    margin-top: 10px;
    word-spacing: 6px;
}

#unordered .fa-solid {
    display: none;
}

#unordered .heart-solid .fa-solid {
    display: inline;
}

#unordered .heart-solid .fa-regular {
    display: none;
}
